<p>Olá {{user.available_name}},</p>

<p>
  A conversa #{{conversation.display_id}} em {{ inbox.name }} 
  perdeu o SLA para a primeira resposta sob a política {{ sla_policy.name }}.
</p>

<p>
<a href="{{action_url}}">Por favor, resolva imediatamente.</a>
</p>
